/* root */
:root{
    --black: #231632;
    --white: #E8E0DE;
    --bright: #6017AE;

    --font: "Sansita", sans-serif;
    --font-basic: "Archivo", sans-serif;
    --l-space: 3%;
    --h-weight-r: 400;
    --h-weight-b: 700;
    --h-weight-xb: 800;
    --h-weight-bl: 900;
    --f-s-title: 3rem;
    --f-s-regular: 1rem;
    --f-s-small: .75rem;
    --f-s-medium: 1.5rem;

    --main-h: 60vh;

    --transi-am: 500ms ease;
}

/* main */
main{
    position: relative;
    z-index: 1;
    height: calc(100vh - 50px);
    display: flex;
    padding: 0 20px;
}
main .container{
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main .container section.hero{
    margin: 0;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
main .container section.hero .text aside{
    display: flex;
    justify-content: end;
    align-items: center;
    width: calc(100vw - 40px);
    gap: .75em;
    padding: 0 0 1.5em;
}
main .container section.arrow-down{
    width: calc(100vw - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* model */
.sphere {
    height: 60vh;
    position: absolute;
    width: 100%;
    top: 28%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.model {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.model canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
}

/* work */
.work{
    padding: 0;
    background-color: var(--purple-dark);
}
.work .container{
    padding: 1em 20px 0;
}
.work .container .text h2{
    padding: .5em 0;
    word-spacing: 5px;
}
.work .container .text{
    display: flex;
    align-items: center;
    padding: 0 0 1em;
}
.work .container .text hr{
    flex: 1;
    height: 1px;
    border: none;
    background-color: var(--white);
    margin: 0 0 0 10px;
}

.work .container .project{
    padding: 0 0 5em;
}
.work .container .project:last-of-type{
    padding: 0 0 3em;
}
.work .container .project .content .cover{
    width: calc(100vw - 40px);
    height: auto;
}
.work .container .project .content .cover img{
    width: 100%;
    height: 100%;
}