@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0 0 3em;
    background-color: var(--white);
    width: 100vw;
}

hr{
    height: 1px;
    border: none;
    background-color: var(--purple-dark);
}

/* root */
:root{
    --purple-dark: #231632;
    --purple: #433161;
    --white: #E8E0DE;
    --pink: #B90469;
    --blue: #4E8BF5;
    --light-purple: #73316F;

    --font: "Sansita", sans-serif;
    --l-space: 3%;
    --h-weight-r: 400;
    --h-weight-b: 700;
    --h-weight-xb: 800;
    --h-weight-bl: 900;
    --f-s-title: 3rem;
    --f-s-regular: 1rem;
    --f-s-small: .75rem;
    --f-s-medium: 1.5rem;

    --main-h: 60vh;

    --transi-am: 300ms ease;
}

@media (min-width: 480px) {
    :root {
        --main-h: 62vh;
    }
}
@media (min-width: 998px) {
    :root {
        --main-h: 64vh;
    }
}

/* text */
.italic{
    font-style: italic;
}
.link{
    color: var(--blue) !important;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    line-height: normal;
    font-family: var(--font);
}
.subH{
    color: var(--light-purple);
    text-transform: uppercase;
    letter-spacing: var(--l-space);
    font-weight: var(--h-weight-r);
    word-spacing: .1rem;
    margin: 0;
    flex-shrink: 0;
}
.title{
    color: var(--white);
    letter-spacing: var(--l-space);
    font-weight: var(--h-weight-b);
    margin: 0;
    flex-shrink: 0;
    font-size: var(--f-s-title);
}
.reg{
    color: var(--white);
    letter-spacing: var(--l-space);
    font-weight: var(--h-weight-r);
    margin: 0;
    flex-shrink: 0;
    font-size: var(--f-s-regular);
}
.bodyText{
    color: var(--purple);
    letter-spacing: var(--l-space);
    font-weight: var(--h-weight-r);
    margin: 0;
    flex-shrink: 0;
    font-size: var(--f-s-regular);
}
.des{
    color: var(--purple);
    letter-spacing: var(--l-space);
    font-weight: var(--h-weight-r);
    margin: 0;
    flex-shrink: 0;
    font-size: var(--f-s-small);
}
.note{
    color: var(--light-purple);
    letter-spacing: var(--l-space);
    font-weight: var(--h-weight-r);
    margin: 0;
    flex-shrink: 0;
    font-size: var(--f-s-small);
}
a{
    text-decoration: none;
}

/* content */

/* header */
header .container{
    width: 100%;
    height: 100%;
    padding: 20px 0;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .container hr {
    flex: 1;
    height: 1px;
    border: none;
    background-color: var(--purple);
    margin: 0 20px;
}
header.active .container a .subH{
    color: var(--white) !important;
    z-index: 100;
}
header.active .container hr{
    background-color: var(--white);
    z-index: 100;
}

/* nav */
nav{
    display: flex;
    justify-content: center;
    align-items: end;
    position: fixed;
    width: 100%;
    bottom: -10px;
    z-index: 100;
    padding: 0;
}
nav .container{
    width: 65vw;
    max-width: 700px;
    min-height: fit-content;
    height: auto;
    padding: .75em 1em 20px;
    border-radius: 1em 1em 0 0;
    background-color: var(--pink);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
}
nav .container p{
    line-height: 1;
    color: var(--white);
}

nav .container .icon{
    position: relative;
    height: 1.5em;
    width: 1.5em;
}
nav .container .icon span:nth-child(1){
    top: 25%;
}
nav .container .icon span:nth-child(3){
    top: 75%;
}
nav .container .icon span{
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--white);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: var(--transi-am);
}

nav .container .icon.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
nav .container .icon.active span:nth-child(2){
    opacity: 0;
}
nav .container .icon.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* navOpen */
.navOpen{
    width: 100vw;
    height: 100vh;
    background-color: #960455;
    z-index: 50;
    position: fixed;
    bottom: -150vh;
    left: 0;
    transition: var(--transi-am);
    display: flex;
    align-items: end;
    padding: 0 0 3em;
}
.navOpen.active{
    bottom: 0;
    transition: var(--transi-am);
}

.navOpen .container{
    padding: 20px;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navOpen .container .buttons a h2{
    padding: .5em 0;
}
.navOpen .container .details{
    display: flex;
    justify-content: center;
}

/* arrow */
.arrow{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}