@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--white);
    width: 100vw;
}

hr{
    height: 1px;
    border: none;
    background-color: var(--purple-dark);
}

/* root */
:root{
    --purple-dark: #231632;
    --purple: #433161;
    --white: #E8E0DE;
    --pink: #B90469;
    --blue: #4E8BF5;
    --light-purple: #73316F;

    --font: "Sansita", sans-serif;
    --l-space: 3%;
    --h-weight-r: 400;
    --h-weight-b: 700;
    --h-weight-xb: 800;
    --h-weight-bl: 900;
    --f-s-title: 3rem;
    --f-s-regular: 1rem;
    --f-s-medium: 1.5rem;

    --main-h: 60vh;
}

@media (min-width: 480px) {
    :root {
        --main-h: 62vh;
    }
}
@media (min-width: 998px) {
    :root {
        --main-h: 64vh;
    }
}

/* text */
.italic{
    font-style: italic;
}
.link{
    color: var(--blue) !important;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    line-height: normal;
    font-family: var(--font);
}
.subH{
    color: var(--purple);
    text-transform: uppercase;
    letter-spacing: var(--l-space);
    font-weight: var(--h-weight-r);
    margin: 0;
    flex-shrink: 0;
}
.title{
    color: var(--white);
    letter-spacing: var(--l-space);
    font-weight: var(--h-weight-r);
    margin: 0;
    flex-shrink: 0;
    font-size: var(--f-s-title);
}
.reg{
    color: var(--white);
    letter-spacing: var(--l-space);
    font-weight: var(--h-weight-r);
    margin: 0;
    flex-shrink: 0;
    font-size: var(--f-s-regular);
}
.bodyText{
    color: var(--purple);
    letter-spacing: var(--l-space);
    font-weight: var(--h-weight-r);
    margin: 0;
    flex-shrink: 0;
    font-size: var(--f-s-regular);
}
a{
    text-decoration: none;
}

/* content */

/* header */
header .container{
    width: 100%;
    height: 100%;
    padding: 20px 0;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .container hr {
    flex: 1;
    height: 1px;
    border: none;
    background-color: var(--purple-dark);
    margin: 0 20px;
}

/* nav */
nav{
    display: flex;
    justify-content: center;
    align-items: end;
    position: fixed;
    width: 100%;
    bottom: -10px;
    z-index: 100;
    padding: 0;
}
nav .container{
    width: 65vw;
    max-width: 700px;
    min-height: fit-content;
    height: auto;
    padding: .75em 1em 20px;
    border-radius: 1em 1em 0 0;
    background-color: var(--pink);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
}
nav .container p{
    line-height: 1;
    padding-bottom: 1px;
    color: var(--white);
}
nav .container .icon{
    display: flex;
    align-items: center;
    height: 1em;
    width: auto;
    padding-bottom: -0.5px;
}
nav .container .icon img{
    width: auto;
    height: 100%;
}

/* main */
main{
    position: relative;
    z-index: 1;
}
main .container{
    width: 100vw;
    height: calc(100vh - 56px);
    margin: 0;
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
main .container section.hero{
    margin: 0;
    min-width: fit-content;
    height: var(--main-h);
    background-color: var(--purple-dark);
    padding: 0 20px 13vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
main .container section.hero h1.title{
    padding: 0 0 .25em;
}
main .container section.hero .line{
    border-left: var(--white) solid 1px;
    padding: 1.5em 1em;
    max-width: 100%;
    color: var(--white);
}

/* model */
.sphere {
    height: 60vh;
    position: absolute;
    width: 100%;
    top: 1vh;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.model {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.model canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
}

/* work */
.work{
    padding: 0;
}
.work .container{
    padding: 1em 20px 0;
}
.work .container .text h2{
    padding: .5em 0;
}
.work .container .text{
    display: flex;
    align-items: center;
    padding: 0 0 1em;
}
.work .container .text hr{
    flex: 1;
    height: 1px;
    border: none;
    background-color: var(--purple-dark);
    margin: 0 0 0 10px;
}

.work .container .project{
    padding: .5em 0 7em;
}
.work .container .project:last-of-type{
    padding: .5em 0 3.5em;
}
.work .container .project .content .cover{
    width: calc(100vw - 40px);
    height: auto;
}
.work .container .project .content .cover img{
    width: 100%;
    height: 100%;
}

.work .container .project .content .des{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(auto);
    grid-template-areas:
    "num pro-des pro-des"
    "cover cover cover"
    "num pro-des pro-des"
    "cover cover cover";
    padding: 0 0 1em;
}