/* root */
:root{
    --black: #231632;
    --white: #E8E0DE;
    --bright: #6017AE;

    --font: "Sansita", sans-serif;
    --font-basic: "Archivo", sans-serif;
    --l-space: 3%;
    --h-weight-r: 400;
    --h-weight-b: 700;
    --h-weight-xb: 800;
    --h-weight-bl: 900;
    --f-s-title: 3rem;
    --f-s-regular: 1rem;
    --f-s-small: .75rem;
    --f-s-medium: 1.5rem;

    --main-h: 60vh;

    --transi-am: 500ms ease;
}

/* nav */
nav{
    position: relative;
}

/* main */
main.landing{
    position: relative;
    z-index: 1;
    height: 100vh;
    width: 100%;
    padding: 0 20px;
}
main.landing .container{
    height: 100%;
    padding: 50px 0 20px;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main.landing .container section.hero{
    margin: 0;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
main.landing .container section.hero .text aside{
    display: flex;
    justify-content: end;
    align-items: center;
    width: calc(100vw - 40px);
    gap: .75em;
    padding: 0 0 1.5em;
}
main.landing .container section.arrow-down{
    width: calc(100vw - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main.landing .container section.arrow-down p:last-of-type{
    font-size: 2.5rem;
    line-height: 0;
    padding: 0 0 .5em;
}

/* intro */
main.intro{
    position: relative;
    z-index: 1;
    height: 100vh;
    width: 100%;
    padding: 0 20px 5%;
    display: flex;
    flex-direction: column;
    justify-content: end;

    background-color: rgba(0, 255, 255, 0.134);
}
main.intro:nth-of-type(3){
    background-color: rgba(102, 255, 0, 0.134);
}
main.intro .container .controls{
    display: flex;
    gap: 1em;
    padding: 0 0 2em;
}
main.intro .container .buttons{
    width: 2.5em;
    height: 2.5em;
    border: 3px var(--white) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5em;
    color: var(--white);
    font-weight: var(--h-weight-xb);
}
main.intro .container .text h3.title-2{
    padding: 0 0 5px;
}
main.intro .container .text p.des{
    padding: .5em 1em;
    border-left: 1px var(--white) solid;
    height: fit-content;
}

/* 3D model */
#model{
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 70;
    transition: transform 1s ease-out;
}