/* root */
:root{
    --black: #171632;
    --white: #dee4e8;
    --bright: #0cb3dc;
    --background: #bbbe89dd;

    --font: "Sansita", sans-serif;
    --font-basic: "Archivo", sans-serif;
    --l-space: 3%;
    --l-space-2: 1px;
    --h-weight-r: 400;
    --h-weight-b: 700;
    --h-weight-xb: 800;
    --h-weight-bl: 900;
    --f-s-title: 3rem;
    --f-s-regular: 1rem;
    --f-s-small: .75rem;
    --f-s-ex-small: .55rem;
    --f-s-medium: 1.5rem;

    --main-h: 60dvh;

    --transi-am: 500ms ease;
}

.img-arrow,
.img-arrow-LR{
    width: 2.5em;
    height: 2.5em;
    border: 2px var(--black) solid;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5em;
}
.img-arrow{
    padding: .1em 0 0;
}
.img-arrow-LR{
    padding: 0 .1em 0 0;
}
.img-arrow-LR:nth-of-type(even){
    padding: 0 10em 0 0;
}
.img-arrow img{
    width: 100%;
    height: auto;
}
.img-arrow-LR img{
    width: auto;
    height: 100%;
}

/* nav */
nav{
    position: relative;
    padding: 2em 0 0;
}

/* background */
.background-colour{
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background: linear-gradient(#16321f00, var(--background));
    z-index: -20;
}
.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-image: url(/image/new-background.jpeg);
    background-position: center;
    background-size: cover;
    z-index: -30;
}

main{
    color: var(--black);
}

/* main */
main.landing{
    position: relative;
    z-index: 1;
    height: 100dvh;
    width: 100dvw;
    padding: 0 20px;
    color: var(--black);
}
main.landing .container{
    height: 100%;
    padding: 50px 0 20px;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main.landing .container section.hero{
    margin: 0;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
main.landing .container section.hero .text aside{
    display: flex;
    justify-content: end;
    align-items: center;
    width: calc(100dvw - 40px);
    gap: .75em;
    padding: 0 0 1.5em;
}
main.landing .container .hero .banner{
    display: flex;
    align-items: center;
    gap: .5em;
    color: var(--black);
}
main.landing .container .hero .banner .subH-4 a{
    color: var(--white);
}
main.landing .container section.arrow-down{
    width: calc(100dvw - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* intro */
main.intro{
    position: relative;
    z-index: 1;
    height: 100dvh;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
main.intro .container{
    position: absolute;
}
main.intro .container .controls{
    display: flex;
    gap: 1em;
    padding: 0 0 2em;
}
main.intro .container .text h3.title-2{
    padding: 0 0 5px;
}
main.intro .container .text p.des{
    padding: .5em 1em;
    border-left: 1px var(--black) solid;
    height: fit-content;
}

main.intro .portfolio{
    position: relative;
    width: 100%;
    height: 100%;
}
main.intro .portfolio .content{
    position: absolute;
    color: var(--black);
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    width: 70%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
main.intro .portfolio .content .top,
main.intro .portfolio .content .bottom{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: .5em;
    /* arrow update ^^ */
}

/* 3D model */
#model{
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 70;
    margin: 110px 0 0;
}