@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    color: var(--black);
    font-family: var(--font-basic);
    width: 100dvw;
    height: 100dvh;
    background-color: var(--white);
}

hr{
    height: 1px;
    border: none;
    background-color: var(--black);
}

/* root */
:root{
    --black: #171632;
    --white: #dee4e8;
    --bright: #0cb3dc;
    --background: #bbbe89dd;

    --font: "Sansita", sans-serif;
    --font-basic: "Archivo", sans-serif;
    --l-space: 3%;
    --l-space-2: 1px;
    --h-weight-r: 400;
    --h-weight-b: 700;
    --h-weight-xb: 800;
    --h-weight-bl: 900;
    --f-s-title: 3rem;
    --f-s-regular: 1rem;
    --f-s-small: .75rem;
    --f-s-ex-small: .55rem;
    --f-s-medium: 1.5rem;

    --main-h: 60dvh;

    --transi-am: 500ms ease;
}

@media (min-width: 480px) {
    :root {
        --main-h: 62dvh;
    }
}
@media (min-width: 998px) {
    :root {
        --main-h: 64dvh;
    }
}

/* text */
.italic{
    font-style: italic;
}
.cursive{
    font-style: italic;
    font-family: 'Playball', serif !important;
    line-height: 1;
}
h1, h2, h3, h4, h5, h6, p, a{
    margin: 0;
    padding: 0;
    line-height: normal;
    color: inherit;
}
.title{
    font-family: var(--font);
    letter-spacing: var(--l-space);
    font-weight: var(--h-weight-b);
    margin: 0;
    flex-shrink: 0;
    font-size: var(--f-s-title);
}
.title-2{
    font-family: var(--font);
    letter-spacing: var(--l-space);
    font-weight: var(--h-weight-b);
    margin: 0;
    flex-shrink: 0;
    font-size: var(--f-s-medium);
}
.title-3{
    text-transform: uppercase;
    font-family: var(--font);
    letter-spacing: var(--l-space);
    font-weight: var(--h-weight-b);
    margin: 0;
    flex-shrink: 0;
    font-size: var(--f-s-medium);
}

.subH{
    font-family: var(--font);
    text-transform: uppercase;
    letter-spacing: var(--l-space);
    font-weight: var(--h-weight-r);
    word-spacing: .1rem;
    margin: 0;
    flex-shrink: 0;
}
.subH-2{
    text-transform: capitalize;
    letter-spacing: var(--l-space);
    font-weight: var(--h-weight-r);
    font-size: var(--f-s-small);
    word-spacing: .1rem;
    margin: 0;
    flex-shrink: 0;
}
.subH-3{
    text-transform: uppercase;
    letter-spacing: var(--l-space);
    font-weight: var(--h-weight-b);
    font-size: var(--f-s-small);
    word-spacing: .1rem;
    margin: 0;
    flex-shrink: 0;
}
.subH-4{
    text-transform: capitalize;
    letter-spacing: var(--l-space-2);
    font-weight: var(--h-weight-r);
    font-size: var(--f-s-regular);
    word-spacing: .1rem;
    margin: 0;
    flex-shrink: 0;
    font-family: var(--font);
}

.reg{
    letter-spacing: var(--l-space);
    font-weight: var(--h-weight-r);
    margin: 0;
    flex-shrink: 0;
    font-size: var(--f-s-regular);
    color: inherit;
}
.des{
    letter-spacing: var(--l-space);
    font-weight: var(--h-weight-r);
    margin: 0;
    flex-shrink: 0;
    font-size: var(--f-s-small);
}
.tag{
    letter-spacing: var(--l-space-2);
    font-weight: var(--h-weight-b);
    margin: 0;
    flex-shrink: 0;
    font-size: var(--f-s-ex-small);
    background-color: var(--white);
    color: var(--black);
    text-transform: uppercase;
    border-radius: 5em;
    padding: .5em .75em;
    width: fit-content;
}
a{
    text-decoration: none;
    color: var(--white);
}

/* content */

/* header */
header{
    z-index: 101;
    width: 100%;
    position: fixed;
    padding: 0 20px;
}
header .container{
    width: 100%;
    height: 100%;
    padding: 15px 0 0;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
}
header .container a{
    color: var(--black);
    padding: 0 20px;
}
header .container hr{
    flex: 1;
    height: 1px;
    border: none;
    background-color: var(--black);
}

/* nav */
nav.list{
    padding: 0 20px;
}
nav.list .container{
    display: flex;
    gap: .5em;
}

/* arrow */
.arrow{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* footer */
footer{
    width: 100ddvw;
    height: 100%;
    z-index: 100;
    position: relative;
    padding: 3em 0;
    color: var(--black);
}
footer .container{
    padding: 1em 20px 2em;
    width: 100%;
    height: 100%;
    background-color: var(--white);
}
footer .container hr{
    background-color: var(--black);
}
footer .container section.top{
    width: 100%;
    height: 3em;
}
footer .container section.social-media .content{
    padding: 1em 0 3em;
}
footer .container section.page-links .content,
footer .container section.social-media .content{
    width: 100%;
    height: fit-content;
    padding: 1em 0;
}
footer .container section.page-links .content .text a,
footer .container section.social-media .text a{
    color: var(--black);
}
footer .container section.page-links .content .text,
footer .container section.social-media .text{
    border-left: 1px var(--black) solid;
    padding: .5em 1em;
    gap: .75em;
    display: flex;
    flex-direction: column;
}
footer .container section.page-links .content .text .row,
footer .container section.social-media .text .row{
    display: flex;
    justify-content: space-between;
}
footer .container section.page-links .content .break,
footer .container section.social-media .content .break{
    width: 100%;
    height: 100%;
    padding: 0 0 .25em;
    margin: 0;
    position: relative;
}

footer .container section.bottom{
    display: flex;
    flex-direction: column;
    height: 20dvh;
    justify-content: space-between;
    padding: 3em 0 0;
}
footer .container section.bottom .details{
    display: flex;
    justify-content: space-between;
}
footer .container section.bottom .buttons{
    width: 2.5em;
    height: 2.5em;
    border: 3px var(--black) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5em;
    color: var(--black);
    font-weight: var(--h-weight-xb);
}
footer .container section.bottom .button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: .5em;
}
footer .container section.bottom .button p{
    color: var(--black);
    text-align: center;
}
footer .container section.bottom .button .img-arrow{
    border: 2px var(--black) solid;
}