@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--black);
    color: var(--white);
    font-family: var(--font-basic);
    width: 100vw;
}

hr{
    height: 1px;
    border: none;
    background-color: var(--white);
}

/* root */
:root{
    --black: #231632;
    --white: #E8E0DE;
    --bright: #6017AE;

    --font: "Sansita", sans-serif;
    --font-basic: "Archivo", sans-serif;
    --l-space: 3%;
    --h-weight-r: 400;
    --h-weight-b: 700;
    --h-weight-xb: 800;
    --h-weight-bl: 900;
    --f-s-title: 3rem;
    --f-s-regular: 1rem;
    --f-s-small: .75rem;
    --f-s-medium: 1.5rem;

    --main-h: 60vh;

    --transi-am: 500ms ease;
}

@media (min-width: 480px) {
    :root {
        --main-h: 62vh;
    }
}
@media (min-width: 998px) {
    :root {
        --main-h: 64vh;
    }
}

/* text */
.italic{
    font-style: italic;
}
.cursive{
    font-style: italic;
    font-family: 'Playball', serif !important;
    line-height: 1;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    line-height: normal;
}
.title{
    font-family: var(--font);
    letter-spacing: var(--l-space);
    font-weight: var(--h-weight-b);
    margin: 0;
    flex-shrink: 0;
    font-size: var(--f-s-title);
}
.title-2{
    font-family: var(--font);
    letter-spacing: var(--l-space);
    font-weight: var(--h-weight-b);
    margin: 0;
    flex-shrink: 0;
    font-size: var(--f-s-medium);
}
.subH{
    font-family: var(--font);
    text-transform: uppercase;
    letter-spacing: var(--l-space);
    font-weight: var(--h-weight-r);
    word-spacing: .1rem;
    margin: 0;
    flex-shrink: 0;
}
.subH-2{
    text-transform: uppercase;
    letter-spacing: var(--l-space);
    font-weight: var(--h-weight-r);
    font-size: var(--f-s-small);
    word-spacing: .1rem;
    margin: 0;
    flex-shrink: 0;
}
.reg{
    letter-spacing: var(--l-space);
    font-weight: var(--h-weight-r);
    margin: 0;
    flex-shrink: 0;
    font-size: var(--f-s-regular);
}
.des{
    letter-spacing: var(--l-space);
    font-weight: var(--h-weight-r);
    margin: 0;
    flex-shrink: 0;
    font-size: var(--f-s-small);
}
a{
    text-decoration: none;
    color: var(--white);
}

/* content */

/* header */
header{
    z-index: 101;
    width: 100%;
    position: fixed;
}
header .container{
    width: 100%;
    height: 100%;
    padding: 15px 0 0;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
}
header .container hr {
    flex: 1;
    height: 1px;
    border: none;
    margin: 0 20px;
}

header.active{
    z-index: 101;
}
header.active .container{
    z-index: 101;
}
header.active .container a .subH {
    color: var(--white) !important;
    z-index: 101; 
}
header.active .container hr{
    background-color: var(--white);
    z-index: 100;
}

/* nav */
nav{
    display: flex;
    justify-content: center;
    align-items: end;
    position: fixed;
    width: 100%;
    bottom: 10px;
    z-index: 100;
    padding: 0;
}
nav .container{
    width: 40vw;
    max-width: 700px;
    min-height: fit-content;
    height: auto;
    padding: .75em 1em;
    border-radius: .5em;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
    
    background: rgba(143, 16, 134, 0.43);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.3px);
    border: 1px solid rgba(115, 49, 111, 0.35);
}
nav .container p{
    line-height: 1;
    color: var(--white);
}

nav .container .icon{
    position: relative;
    height: 1.5em;
    width: 1.5em;
}
nav .container .icon span:nth-child(1){
    top: 25%;
}
nav .container .icon span:nth-child(3){
    top: 75%;
}
nav .container .icon span{
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--white);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: var(--transi-am);
}

nav .container .icon.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
nav .container .icon.active span:nth-child(2){
    opacity: 0;
}
nav .container .icon.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* navOpen */
.navOpen{
    width: 100vw;
    height: 100vh;
    background-color: var(--purple);
    z-index: 50;
    position: fixed;
    bottom: -150vh;
    left: 0;
    transition: var(--transi-am);
    overflow: hidden;
}
.navOpen.active{
    bottom: 0;
    transition: var(--transi-am);
}

.navOpen.active .container{
    padding: 0 20px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: 600ms ease;
}

.navOpen.active .container .categories{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}
.navOpen.active .container .categories .other-links a p{
    color: var(--white);
    padding: 3em 0 0;
}

.navOpen.active .container .details{
    position: fixed;
    bottom: 4em;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
    padding: 0 20px;
    transition: 600ms ease;
}
.navOpen.active .container .details .other-details{
    display: flex;
    justify-content: space-between;
}
.navOpen.active .container .details .other-details p a{
    color: inherit;
}



body.nav-open {
    overflow: hidden;
    height: 100vh;
}

/* arrow */
.arrow{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}