/* root */
:root{
    --black: #171632;
    --white: #dee4e8;
    --bright: #065569;
    --new: #86cadb;
    --background: #bbbe89dd;

    --font: "Sansita", sans-serif;
    --font-basic: "Archivo", sans-serif;
    --l-space: 3%;
    --l-space-2: 1px;
    --h-weight-r: 400;
    --h-weight-b: 700;
    --h-weight-xb: 800;
    --h-weight-bl: 900;
    
    --fs-num: 4rem;
    --fs-title: 3rem;
    --fs-title-2: 2rem;
    --fs-subH: 1.75rem;
    --fs-subH-2: 1rem;
    --fs-BT: 1.2rem;

    --main-h: 60dvh;

    --transi-am: 500ms ease;
}

.img-arrow,
.img-arrow-LR{
    width: 2em;
    height: 2em;
    background: #bbbe8900;
}

.index{
    margin: 0 0 3em;
}

/* content */
main.landing{
    padding: 50px 20px;
    position: relative;
}
main.landing .container .text .title-2{
    color: var(--bright);
}
main.landing .container .text{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

/* buttons */
button{
    border: 2px var(--black) solid;
    border-radius: 2em;
}
button.active{
    background-color: var(--bright);
}

/* cards */
main.index{
    padding: 0 20px;
    max-width: 100dvw;
}

.filterable-cards,
.filterable-cards details{
    display: flex;
    flex-direction: column;
    gap: .5em;
}
.filterable-cards details summary{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}
.filterable-cards details summary .des{
    grid-column: 1;
    grid-row: 1;
}
.filterable-cards details summary .about{
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    gap: .5em;
    align-items: end;
}
.filterable-cards details .opened{
    width: calc(100dvw - 40px);
    height: auto;
}

.filterable-cards details .opened .img-carousel{
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.filterable-cards details .opened .img-carousel .cover{
    display: none;
}
.filterable-cards details .opened .img-carousel .cover .subH:nth-of-type(1){
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.filterable-cards details .opened .img-carousel .cover .subH{
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.filterable-cards details .opened .mockup{
    width: 100%;
    height: 27dvh;
}
.filterable-cards details .opened .mockup#video{
    width: 100%;
    height: auto;
}
.filterable-cards details .opened video,
.filterable-cards details .opened img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: var(--black);
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* filter */
main .container .filterable-cards .card.hide{
    display: none;
}

.card-body{
    padding: .5em 0 0;
    display: none;
}
.card-body .text .content{
    display: flex;
    gap: .25em;
}

#wine{
    color: var(--white);
}

.filter-buttons{
    display: flex;
    gap: .25em;
    flex-wrap: wrap;
}


@media only screen and (min-width: 600px) {
    .filterable-cards details .opened .mockup{
        width: 80%;
        height: 40dvh;
        margin: 0 auto;
    }
}